<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>스키/보드 활강 기록을 위해 위치 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>앱이 백그라운드 상태일 때도 활강 경로를 정확히 기록하기 위해 위치 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>공유 이미지를 사진 앨범에 저장하기 위해 권한이 필요합니다.</string>
</dict>
</plist>
